@model List<Fellesregnskap.Services.Models.Receipt>

Receipts
<table>
    <tr>
        <td>Dato</td>
        <td>Beskrivelse</td>
        <td>Pris</td>
        <td>Betalt av</td>
        <td>Deltakere</td>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>(@Html.ActionLink("x", "RemoveReceipt", new { receiptId = item.Id }))</td>
        <td>@Html.Raw(item.Date.Day + "/" + item.Date.Month)</td>
        <td>@Html.Raw(item.Description)</td>
        <td>@Html.Raw(item.Price.ToString())</td>
        <td>@Html.Raw(item.Payer.Name)</td>
        <td>
        <ul>
        @foreach (var part in item.Participants)
        {
            <li>@Html.Raw(part.Name) (@Html.ActionLink("x", "RemoveParticipantFromReceipt", new { participantId = part.Id, receiptId = item.Id }))</li>    
        }
        </ul>
        </td>
    </tr>    
}

</table>