@model Fellesregnskap.ViewModels.ReceiptViewModel

@{
    ViewBag.Title = "Legg til regning";
}

<h2>Legg til regning</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Receipt</legend>

        @foreach (var participant in Model.Participants)
        {
            @Html.Label(participant.Id, participant.Name)
            @Html.RadioButtonFor(x => x.SelectedParticipantId, participant.Id, new { id = participant.Id })    
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <p>
            @ViewBag.Errormessage
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}