@model  Fellesregnskap.Models.Home.Participant

@Html.Action("ParticipantsList", "Home")

@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset> 
        <legend>Legg til deltager</legend> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Navn) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.Navn) 
            @Html.ValidationMessageFor(model => model.Navn) 
        </div> 
        <p> 
            <input type="submit" value="Send" /> 
        </p> 
    </fieldset> 
}
